html{
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
	background: linear-gradient(-45deg, #faddac, #e8cb99, #6d7ca3, #778098);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
    width: 100vh;
    margin: 0;
    border: 0;
    padding: 90px;
    cursor: none;
}

.cursor {
    width: 40px;
    height: 40px;
    border: 1px dashed white;
    border-radius: 50%;
    position: absolute;
    animation: Anim1 1s infinite alternate;
  pointer-events: none;
}

.cursor::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 5px;
    height: 5px;
    background: crimson;
    border-radius: 50%;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.container {
    display: flex;
    height: 20rem;
    gap: 1rem;
}

.container > div {
    flex: 1;
    background-color: #fff;
    height:80vh;
    border-radius: 1rem;
    transition: all .8s cubic-bezier(.25, .4 , .45, 1.4);
}

.container > div:hover {
    flex: 5;
}

h2{
    text-align: center;
}


.savoir h3 :first-child{
    margin-top: 5rem;
}

h3 {
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Unbounded', cursive;
}

.text {
    text-align: left;
    font-size: 0.78rem;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Unbounded', cursive;
}