body{
    background-color: #27415A;
    padding:5%;

}

.screen{
    max-height:100vh;
    display: grid;
    grid-template-columns: 33% 67%;
    grid-template-rows: 50% 50%;
    column-gap:10%;
    grid-template-areas: 
    "about tech"
    "about projets";
}
/*about me*/
.about {
    background-color:#D9D9D9;
    height:80vh;
    box-shadow: -11px -8px 0px 1px #54748B;
    grid-area: about;
}

.about h1 {
    font-size: 5vh;
    color: #27415A;
}
.about h2{
    font-size: 4vh;
    color: #27415A;
}

.about p{
    font-size:3vh;
    color: #27415A;
}

/*technologies*/
.tech{
    grid-area:tech;
    height:100%;
}
.tech h1{
    font-size: 5vh;
    text-align: center;
    text-decoration: underline;
    color:#D9D9D9;
}

.tech .images{
    display: flex;
    justify-content:center;
    gap: 1rem;
}
.tech > div >img {
    filter: invert();
    height: 100%;
}


/*projets*/

.projets{
    grid-area: projets;
    height:30vh;
    width:95%;
}

.projets h1{
    color:#D9D9D9;
    text-align: center;
    text-decoration: underline;
}

.projets .images{
    display: flex;
    height:100%;
    gap: 1rem;
}


.projets .images > div {
    flex: 1;
    background-color: #fff;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    transition: all .8s cubic-bezier(.25, .4 , .45, 1.4);
}

.projets .images > div:hover {
    flex: 5;
}